.env
__pycache__/
*.pyc
*.log
trade_history.json
test.py
parameter_trainer_multi.py
parameter_trainer.py
backtest_simulator.py
venv/
session.session
session.session-journal
session_vkinha.session
*.session-journal
session_*.session
anon.session
backtest_simulator.py   
backtest_replay.py   
baixar_candles.py
backtest.py